body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-gradient {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Bootstrap (if you need it) */
/* @import "bootstrap/dist/css/bootstrap.min.css"; */
