/* src/styles/global.css */

/* Tailwind CSS Import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Bootstrap from node_modules */
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
